openapi: 3.1.0
info:
  title: GitHub Actions API
  description: REST API for managing GitHub Actions workflows, runs, artifacts, secrets, runners, caches, variables, permissions, and OIDC.
  version: 1.0.0
  contact:
    name: GitHub Support
    url: https://support.github.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.github.com
  description: GitHub REST API
security:
- bearerAuth: []
- personalAccessToken: []
tags:
- name: Artifacts
  description: Download and manage workflow run artifacts
- name: Cache
  description: Manage workflow dependency caches
- name: Jobs
  description: Access information about workflow jobs
- name: OIDC
  description: Manage OIDC subject claim customization
- name: Permissions
  description: Control Actions enablement and permissions
- name: Secrets
  description: Manage encrypted secrets for Actions
- name: Self-Hosted Runner Groups
  description: Manage runner groups for organizations
- name: Self-Hosted Runners
  description: Manage self-hosted runners for workflows
- name: Variables
  description: Create and manage workflow variables
- name: Workflow Runs
  description: Manage and monitor workflow run executions
- name: Workflows
  description: Manage workflow files and workflow runs
paths:
  /repos/{owner}/{repo}/actions/workflows:
    get:
      operationId: listRepoWorkflows
      summary: Github Actions List Repository Workflows
      description: Lists the workflows in a repository. Anyone with read access to the repository can use this endpoint.
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved workflows
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  workflows:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workflow'
              examples:
                Listrepoworkflows200Example:
                  summary: Default listRepoWorkflows 200 response
                  x-microcks-default: true
                  value:
                    total_count: 10
                    workflows:
                    - id: abc123
                      node_id: '500123'
                      name: Example Title
                      path: example_value
                      state: active
                      created_at: '2026-01-15T10:30:00Z'
                      updated_at: '2026-01-15T10:30:00Z'
                      url: https://www.example.com
                      html_url: https://www.example.com
                      badge_url: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/workflows/{workflow_id}:
    get:
      operationId: getWorkflow
      summary: Github Actions Get a Workflow
      description: Gets a specific workflow. You can replace workflow_id with the workflow file name.
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/workflowId'
      responses:
        '200':
          description: Successfully retrieved workflow
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
              examples:
                Getworkflow200Example:
                  summary: Default getWorkflow 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    node_id: '500123'
                    name: Example Title
                    path: example_value
                    state: active
                    created_at: '2026-01-15T10:30:00Z'
                    updated_at: '2026-01-15T10:30:00Z'
                    url: https://www.example.com
                    html_url: https://www.example.com
                    badge_url: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/workflows/{workflow_id}/disable:
    put:
      operationId: disableWorkflow
      summary: Github Actions Disable a Workflow
      description: Disables a workflow and sets the state of the workflow to disabled_manually.
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/workflowId'
      responses:
        '204':
          description: Successfully disabled workflow
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/workflows/{workflow_id}/enable:
    put:
      operationId: enableWorkflow
      summary: Github Actions Enable a Workflow
      description: Enables a workflow and sets the state of the workflow to active.
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/workflowId'
      responses:
        '204':
          description: Successfully enabled workflow
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/workflows/{workflow_id}/dispatches:
    post:
      operationId: createWorkflowDispatch
      summary: Github Actions Create a Workflow Dispatch Event
      description: Manually triggers a GitHub Actions workflow run. The workflow must be configured to support the workflow_dispatch event.
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/workflowId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - ref
              properties:
                ref:
                  type: string
                  description: The git reference for the workflow. The reference can be a branch or tag name.
                inputs:
                  type: object
                  description: Input keys and values configured in the workflow file. The maximum number of properties is 10.
                  additionalProperties:
                    type: string
            examples:
              CreateworkflowdispatchRequestExample:
                summary: Default createWorkflowDispatch request
                x-microcks-default: true
                value:
                  ref: example_value
                  inputs: example_value
      responses:
        '204':
          description: Successfully dispatched workflow
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/workflows/{workflow_id}/runs:
    get:
      operationId: listWorkflowRuns
      summary: Github Actions List Workflow Runs for a Workflow
      description: List all workflow runs for a workflow. You can replace workflow_id with the workflow file name.
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/workflowId'
      - name: actor
        in: query
        schema:
          type: string
        example: example_value
      - name: branch
        in: query
        schema:
          type: string
        example: example_value
      - name: event
        in: query
        schema:
          type: string
        example: example_value
      - name: status
        in: query
        schema:
          type: string
          enum: [completed, action_required, cancelled, failure, neutral, skipped, stale, success, timed_out, in_progress, queued, requested, waiting, pending]
        example: completed
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved workflow runs
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  workflow_runs:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkflowRun'
              examples:
                Listworkflowruns200Example:
                  summary: Default listWorkflowRuns 200 response
                  x-microcks-default: true
                  value:
                    total_count: 10
                    workflow_runs:
                    - id: abc123
                      name: Example Title
                      node_id: '500123'
                      head_branch: example_value
                      head_sha: example_value
                      path: example_value
                      display_title: example_value
                      run_number: 10
                      run_attempt: 10
                      event: example_value
                      status: queued
                      conclusion: success
                      workflow_id: '500123'
                      url: https://www.example.com
                      html_url: https://www.example.com
                      created_at: '2026-01-15T10:30:00Z'
                      updated_at: '2026-01-15T10:30:00Z'
                      run_started_at: '2026-01-15T10:30:00Z'
                      jobs_url: https://www.example.com
                      logs_url: https://www.example.com
                      artifacts_url: https://www.example.com
                      cancel_url: https://www.example.com
                      rerun_url: https://www.example.com
                      workflow_url: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/workflows/{workflow_id}/timing:
    get:
      operationId: getWorkflowUsage
      summary: Github Actions Get Workflow Usage
      description: Gets the number of billable minutes used by a specific workflow during the current billing cycle.
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/workflowId'
      responses:
        '200':
          description: Successfully retrieved workflow usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowUsage'
              examples:
                Getworkflowusage200Example:
                  summary: Default getWorkflowUsage 200 response
                  x-microcks-default: true
                  value:
                    billable:
                      UBUNTU:
                        total_ms: 10
                      MACOS:
                        total_ms: 10
                      WINDOWS:
                        total_ms: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runs:
    get:
      operationId: listWorkflowRunsForRepo
      summary: Github Actions List Workflow Runs for a Repository
      description: Lists all workflow runs for a repository. Anyone with read access to the repository can use this endpoint.
      tags:
      - Workflow Runs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - name: actor
        in: query
        schema:
          type: string
        example: example_value
      - name: branch
        in: query
        schema:
          type: string
        example: example_value
      - name: event
        in: query
        schema:
          type: string
        example: example_value
      - name: status
        in: query
        schema:
          type: string
          enum: [completed, action_required, cancelled, failure, neutral, skipped, stale, success, timed_out, in_progress, queued, requested, waiting, pending]
        example: completed
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved workflow runs
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  workflow_runs:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkflowRun'
              examples:
                Listworkflowrunsforrepo200Example:
                  summary: Default listWorkflowRunsForRepo 200 response
                  x-microcks-default: true
                  value:
                    total_count: 10
                    workflow_runs:
                    - id: abc123
                      name: Example Title
                      node_id: '500123'
                      head_branch: example_value
                      head_sha: example_value
                      path: example_value
                      display_title: example_value
                      run_number: 10
                      run_attempt: 10
                      event: example_value
                      status: queued
                      conclusion: success
                      workflow_id: '500123'
                      url: https://www.example.com
                      html_url: https://www.example.com
                      created_at: '2026-01-15T10:30:00Z'
                      updated_at: '2026-01-15T10:30:00Z'
                      run_started_at: '2026-01-15T10:30:00Z'
                      jobs_url: https://www.example.com
                      logs_url: https://www.example.com
                      artifacts_url: https://www.example.com
                      cancel_url: https://www.example.com
                      rerun_url: https://www.example.com
                      workflow_url: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runs/{run_id}:
    get:
      operationId: getWorkflowRun
      summary: Github Actions Get a Workflow Run
      description: Gets a specific workflow run.
      tags:
      - Workflow Runs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runId'
      responses:
        '200':
          description: Successfully retrieved workflow run
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
              examples:
                Getworkflowrun200Example:
                  summary: Default getWorkflowRun 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    node_id: '500123'
                    head_branch: example_value
                    head_sha: example_value
                    path: example_value
                    display_title: example_value
                    run_number: 10
                    run_attempt: 10
                    event: example_value
                    status: queued
                    conclusion: success
                    workflow_id: '500123'
                    url: https://www.example.com
                    html_url: https://www.example.com
                    created_at: '2026-01-15T10:30:00Z'
                    updated_at: '2026-01-15T10:30:00Z'
                    run_started_at: '2026-01-15T10:30:00Z'
                    jobs_url: https://www.example.com
                    logs_url: https://www.example.com
                    artifacts_url: https://www.example.com
                    cancel_url: https://www.example.com
                    rerun_url: https://www.example.com
                    workflow_url: https://www.example.com
                    actor:
                      login: example_value
                      id: abc123
                      node_id: '500123'
                      avatar_url: https://www.example.com
                      url: https://www.example.com
                      html_url: https://www.example.com
                      type: example_value
                    triggering_actor:
                      login: example_value
                      id: abc123
                      node_id: '500123'
                      avatar_url: https://www.example.com
                      url: https://www.example.com
                      html_url: https://www.example.com
                      type: example_value
                    repository:
                      id: abc123
                      node_id: '500123'
                      name: Example Title
                      full_name: example_value
                      private: true
                      html_url: https://www.example.com
                      url: https://www.example.com
                      description: A sample description.
                    head_repository:
                      id: abc123
                      node_id: '500123'
                      name: Example Title
                      full_name: example_value
                      private: true
                      html_url: https://www.example.com
                      url: https://www.example.com
                      description: A sample description.
                    head_commit:
                      id: abc123
                      tree_id: '500123'
                      message: example_value
                      timestamp: '2026-01-15T10:30:00Z'
                      author:
                        name: Example Title
                        email: user@example.com
                      committer:
                        name: Example Title
                        email: user@example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteWorkflowRun
      summary: Github Actions Delete a Workflow Run
      description: Deletes a specific workflow run. Anyone with write access to the repository can use this endpoint.
      tags:
      - Workflow Runs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runId'
      responses:
        '204':
          description: Successfully deleted workflow run
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runs/{run_id}/approve:
    post:
      operationId: approveWorkflowRun
      summary: Github Actions Approve a Workflow Run for a Fork Pull Request
      description: Approves a workflow run for a pull request from a public fork of a first time contributor.
      tags:
      - Workflow Runs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runId'
      responses:
        '201':
          description: Successfully approved workflow run
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runs/{run_id}/approvals:
    get:
      operationId: getWorkflowRunApprovals
      summary: Github Actions Get the Review History for a Workflow Run
      description: Anyone with read access to the repository can use this endpoint.
      tags:
      - Workflow Runs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runId'
      responses:
        '200':
          description: Successfully retrieved approvals
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EnvironmentApproval'
              examples:
                Getworkflowrunapprovals200Example:
                  summary: Default getWorkflowRunApprovals 200 response
                  x-microcks-default: true
                  value:
                  - environments:
                    - id: abc123
                      node_id: '500123'
                      name: Example Title
                      url: https://www.example.com
                      html_url: https://www.example.com
                      created_at: '2026-01-15T10:30:00Z'
                      updated_at: '2026-01-15T10:30:00Z'
                    state: approved
                    user:
                      login: example_value
                      id: abc123
                      node_id: '500123'
                      avatar_url: https://www.example.com
                      url: https://www.example.com
                      html_url: https://www.example.com
                      type: example_value
                    comment: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runs/{run_id}/attempts/{attempt_number}:
    get:
      operationId: getWorkflowRunAttempt
      summary: Github Actions Get a Workflow Run Attempt
      description: Gets a specific workflow run attempt.
      tags:
      - Workflow Runs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runId'
      - $ref: '#/components/parameters/attemptNumber'
      responses:
        '200':
          description: Successfully retrieved workflow run attempt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
              examples:
                Getworkflowrunattempt200Example:
                  summary: Default getWorkflowRunAttempt 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    node_id: '500123'
                    head_branch: example_value
                    head_sha: example_value
                    path: example_value
                    display_title: example_value
                    run_number: 10
                    run_attempt: 10
                    event: example_value
                    status: queued
                    conclusion: success
                    workflow_id: '500123'
                    url: https://www.example.com
                    html_url: https://www.example.com
                    created_at: '2026-01-15T10:30:00Z'
                    updated_at: '2026-01-15T10:30:00Z'
                    run_started_at: '2026-01-15T10:30:00Z'
                    jobs_url: https://www.example.com
                    logs_url: https://www.example.com
                    artifacts_url: https://www.example.com
                    cancel_url: https://www.example.com
                    rerun_url: https://www.example.com
                    workflow_url: https://www.example.com
                    actor:
                      login: example_value
                      id: abc123
                      node_id: '500123'
                      avatar_url: https://www.example.com
                      url: https://www.example.com
                      html_url: https://www.example.com
                      type: example_value
                    triggering_actor:
                      login: example_value
                      id: abc123
                      node_id: '500123'
                      avatar_url: https://www.example.com
                      url: https://www.example.com
                      html_url: https://www.example.com
                      type: example_value
                    repository:
                      id: abc123
                      node_id: '500123'
                      name: Example Title
                      full_name: example_value
                      private: true
                      html_url: https://www.example.com
                      url: https://www.example.com
                      description: A sample description.
                    head_repository:
                      id: abc123
                      node_id: '500123'
                      name: Example Title
                      full_name: example_value
                      private: true
                      html_url: https://www.example.com
                      url: https://www.example.com
                      description: A sample description.
                    head_commit:
                      id: abc123
                      tree_id: '500123'
                      message: example_value
                      timestamp: '2026-01-15T10:30:00Z'
                      author:
                        name: Example Title
                        email: user@example.com
                      committer:
                        name: Example Title
                        email: user@example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runs/{run_id}/attempts/{attempt_number}/logs:
    get:
      operationId: downloadWorkflowRunAttemptLogs
      summary: Github Actions Download Workflow Run Attempt Logs
      description: Gets a redirect URL to download an archive of log files for a specific workflow run attempt.
      tags:
      - Workflow Runs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runId'
      - $ref: '#/components/parameters/attemptNumber'
      responses:
        '302':
          description: Redirect to log download URL
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runs/{run_id}/cancel:
    post:
      operationId: cancelWorkflowRun
      summary: Github Actions Cancel a Workflow Run
      description: Cancels a workflow run using its id.
      tags:
      - Workflow Runs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runId'
      responses:
        '202':
          description: Successfully requested cancellation
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runs/{run_id}/deployment_protection_rule:
    post:
      operationId: reviewCustomGatesForRun
      summary: Github Actions Review Custom Deployment Protection Rules for a Workflow Run
      description: Approve or reject custom deployment protection rules for a workflow run.
      tags:
      - Workflow Runs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - environment_name
              - state
              properties:
                environment_name:
                  type: string
                state:
                  type: string
                  enum: [approved, rejected]
                comment:
                  type: string
            examples:
              ReviewcustomgatesforrunRequestExample:
                summary: Default reviewCustomGatesForRun request
                x-microcks-default: true
                value:
                  environment_name: example_value
                  state: approved
                  comment: example_value
      responses:
        '204':
          description: Successfully reviewed deployment protection rule
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runs/{run_id}/force-cancel:
    post:
      operationId: forceCancelWorkflowRun
      summary: Github Actions Force Cancel a Workflow Run
      description: Force cancels a workflow run. Use this endpoint to force cancel a workflow run that is not responding to a normal cancel request.
      tags:
      - Workflow Runs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runId'
      responses:
        '202':
          description: Successfully requested force cancellation
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runs/{run_id}/logs:
    get:
      operationId: downloadWorkflowRunLogs
      summary: Github Actions Download Workflow Run Logs
      description: Gets a redirect URL to download an archive of log files for a workflow run. This link expires after 1 minute.
      tags:
      - Workflow Runs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runId'
      responses:
        '302':
          description: Redirect to log download URL
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteWorkflowRunLogs
      summary: Github Actions Delete Workflow Run Logs
      description: Deletes all logs for a workflow run.
      tags:
      - Workflow Runs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runId'
      responses:
        '204':
          description: Successfully deleted workflow run logs
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runs/{run_id}/pending_deployments:
    get:
      operationId: getPendingDeployments
      summary: Github Actions Get Pending Deployments for a Workflow Run
      description: Get all deployment environments for a workflow run that are waiting for protection rules to pass.
      tags:
      - Workflow Runs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runId'
      responses:
        '200':
          description: Successfully retrieved pending deployments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PendingDeployment'
              examples:
                Getpendingdeployments200Example:
                  summary: Default getPendingDeployments 200 response
                  x-microcks-default: true
                  value:
                  - environment:
                      id: abc123
                      node_id: '500123'
                      name: Example Title
                      url: https://www.example.com
                      html_url: https://www.example.com
                    wait_timer: 10
                    wait_timer_started_at: '2026-01-15T10:30:00Z'
                    current_user_can_approve: true
                    reviewers:
                    - type: User
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: reviewPendingDeployments
      summary: Github Actions Review Pending Deployments for a Workflow Run
      description: Approve or reject pending deployments that are waiting on approval by a required reviewer.
      tags:
      - Workflow Runs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - environment_ids
              - state
              - comment
              properties:
                environment_ids:
                  type: array
                  items:
                    type: integer
                state:
                  type: string
                  enum: [approved, rejected]
                comment:
                  type: string
            examples:
              ReviewpendingdeploymentsRequestExample:
                summary: Default reviewPendingDeployments request
                x-microcks-default: true
                value:
                  environment_ids:
                  - 10
                  state: approved
                  comment: example_value
      responses:
        '200':
          description: Successfully reviewed pending deployments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Deployment'
              examples:
                Reviewpendingdeployments200Example:
                  summary: Default reviewPendingDeployments 200 response
                  x-microcks-default: true
                  value:
                  - url: https://www.example.com
                    id: abc123
                    node_id: '500123'
                    task: example_value
                    environment: example_value
                    description: A sample description.
                    created_at: '2026-01-15T10:30:00Z'
                    updated_at: '2026-01-15T10:30:00Z'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runs/{run_id}/rerun:
    post:
      operationId: rerunWorkflowRun
      summary: Github Actions Re-run a Workflow
      description: Re-runs your workflow run using its id.
      tags:
      - Workflow Runs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enable_debug_logging:
                  type: boolean
                  default: false
            examples:
              RerunworkflowrunRequestExample:
                summary: Default rerunWorkflowRun request
                x-microcks-default: true
                value:
                  enable_debug_logging: true
      responses:
        '201':
          description: Successfully re-ran workflow
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runs/{run_id}/rerun-failed-jobs:
    post:
      operationId: rerunFailedJobs
      summary: Github Actions Re-run Failed Jobs From a Workflow Run
      description: Re-run all of the failed jobs and their dependent jobs in a workflow run using the id of the workflow run.
      tags:
      - Workflow Runs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enable_debug_logging:
                  type: boolean
                  default: false
            examples:
              RerunfailedjobsRequestExample:
                summary: Default rerunFailedJobs request
                x-microcks-default: true
                value:
                  enable_debug_logging: true
      responses:
        '201':
          description: Successfully re-ran failed jobs
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runs/{run_id}/timing:
    get:
      operationId: getWorkflowRunUsage
      summary: Github Actions Get Workflow Run Usage
      description: Gets the number of billable minutes and total run time for a specific workflow run.
      tags:
      - Workflow Runs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runId'
      responses:
        '200':
          description: Successfully retrieved workflow run usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunUsage'
              examples:
                Getworkflowrunusage200Example:
                  summary: Default getWorkflowRunUsage 200 response
                  x-microcks-default: true
                  value:
                    billable:
                      UBUNTU:
                        total_ms: 10
                        jobs: 10
                      MACOS:
                        total_ms: 10
                        jobs: 10
                      WINDOWS:
                        total_ms: 10
                        jobs: 10
                    run_duration_ms: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runs/{run_id}/jobs:
    get:
      operationId: listJobsForWorkflowRun
      summary: Github Actions List Jobs for a Workflow Run
      description: Lists jobs for a workflow run. Anyone with read access to the repository can use this endpoint.
      tags:
      - Jobs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runId'
      - name: filter
        in: query
        schema:
          type: string
          enum: [latest, all]
          default: latest
        example: latest
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved jobs
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  jobs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Job'
              examples:
                Listjobsforworkflowrun200Example:
                  summary: Default listJobsForWorkflowRun 200 response
                  x-microcks-default: true
                  value:
                    total_count: 10
                    jobs:
                    - id: abc123
                      run_id: '500123'
                      run_url: https://www.example.com
                      run_attempt: 10
                      node_id: '500123'
                      head_sha: example_value
                      url: https://www.example.com
                      html_url: https://www.example.com
                      status: queued
                      conclusion: success
                      created_at: '2026-01-15T10:30:00Z'
                      started_at: '2026-01-15T10:30:00Z'
                      completed_at: '2026-01-15T10:30:00Z'
                      name: Example Title
                      steps:
                      - {}
                      labels:
                      - {}
                      runner_id: '500123'
                      runner_name: example_value
                      runner_group_id: '500123'
                      runner_group_name: example_value
                      workflow_name: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runs/{run_id}/attempts/{attempt_number}/jobs:
    get:
      operationId: listJobsForWorkflowRunAttempt
      summary: Github Actions List Jobs for a Workflow Run Attempt
      description: Lists jobs for a specific workflow run attempt.
      tags:
      - Jobs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runId'
      - $ref: '#/components/parameters/attemptNumber'
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved jobs
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  jobs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Job'
              examples:
                Listjobsforworkflowrunattempt200Example:
                  summary: Default listJobsForWorkflowRunAttempt 200 response
                  x-microcks-default: true
                  value:
                    total_count: 10
                    jobs:
                    - id: abc123
                      run_id: '500123'
                      run_url: https://www.example.com
                      run_attempt: 10
                      node_id: '500123'
                      head_sha: example_value
                      url: https://www.example.com
                      html_url: https://www.example.com
                      status: queued
                      conclusion: success
                      created_at: '2026-01-15T10:30:00Z'
                      started_at: '2026-01-15T10:30:00Z'
                      completed_at: '2026-01-15T10:30:00Z'
                      name: Example Title
                      steps:
                      - {}
                      labels:
                      - {}
                      runner_id: '500123'
                      runner_name: example_value
                      runner_group_id: '500123'
                      runner_group_name: example_value
                      workflow_name: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/jobs/{job_id}:
    get:
      operationId: getJobForWorkflowRun
      summary: Github Actions Get a Job for a Workflow Run
      description: Gets a specific job in a workflow run.
      tags:
      - Jobs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - name: job_id
        in: path
        required: true
        schema:
          type: integer
        example: '500123'
      responses:
        '200':
          description: Successfully retrieved job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
              examples:
                Getjobforworkflowrun200Example:
                  summary: Default getJobForWorkflowRun 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    run_id: '500123'
                    run_url: https://www.example.com
                    run_attempt: 10
                    node_id: '500123'
                    head_sha: example_value
                    url: https://www.example.com
                    html_url: https://www.example.com
                    status: queued
                    conclusion: success
                    created_at: '2026-01-15T10:30:00Z'
                    started_at: '2026-01-15T10:30:00Z'
                    completed_at: '2026-01-15T10:30:00Z'
                    name: Example Title
                    steps:
                    - name: Example Title
                      status: queued
                      conclusion: failure
                      number: 10
                      started_at: '2026-01-15T10:30:00Z'
                      completed_at: '2026-01-15T10:30:00Z'
                    labels:
                    - example_value
                    runner_id: '500123'
                    runner_name: example_value
                    runner_group_id: '500123'
                    runner_group_name: example_value
                    workflow_name: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/jobs/{job_id}/logs:
    get:
      operationId: downloadJobLogsForWorkflowRun
      summary: Github Actions Download Job Logs for a Workflow Run
      description: Gets a redirect URL to download a plain text file of logs for a workflow job. This link expires after 1 minute.
      tags:
      - Jobs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - name: job_id
        in: path
        required: true
        schema:
          type: integer
        example: '500123'
      responses:
        '302':
          description: Redirect to log download URL
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/jobs/{job_id}/rerun:
    post:
      operationId: rerunJobForWorkflowRun
      summary: Github Actions Re-run a Job From a Workflow Run
      description: Re-run a job and its dependent jobs in a workflow run.
      tags:
      - Jobs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - name: job_id
        in: path
        required: true
        schema:
          type: integer
        example: '500123'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enable_debug_logging:
                  type: boolean
                  default: false
            examples:
              RerunjobforworkflowrunRequestExample:
                summary: Default rerunJobForWorkflowRun request
                x-microcks-default: true
                value:
                  enable_debug_logging: true
      responses:
        '201':
          description: Successfully re-ran job
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/artifacts:
    get:
      operationId: listArtifactsForRepo
      summary: Github Actions List Artifacts for a Repository
      description: Lists all artifacts for a repository.
      tags:
      - Artifacts
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - name: name
        in: query
        schema:
          type: string
        example: Example Title
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved artifacts
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  artifacts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Artifact'
              examples:
                Listartifactsforrepo200Example:
                  summary: Default listArtifactsForRepo 200 response
                  x-microcks-default: true
                  value:
                    total_count: 10
                    artifacts:
                    - id: abc123
                      node_id: '500123'
                      name: Example Title
                      size_in_bytes: 10
                      url: https://www.example.com
                      archive_download_url: https://www.example.com
                      expired: true
                      created_at: '2026-01-15T10:30:00Z'
                      expires_at: '2026-01-15T10:30:00Z'
                      updated_at: '2026-01-15T10:30:00Z'
                      workflow_run:
                        id: abc123
                        repository_id: '500123'
                        head_repository_id: '500123'
                        head_branch: example_value
                        head_sha: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/artifacts/{artifact_id}:
    get:
      operationId: getArtifact
      summary: Github Actions Get an Artifact
      description: Gets a specific artifact for a workflow run.
      tags:
      - Artifacts
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/artifactId'
      responses:
        '200':
          description: Successfully retrieved artifact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
              examples:
                Getartifact200Example:
                  summary: Default getArtifact 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    node_id: '500123'
                    name: Example Title
                    size_in_bytes: 10
                    url: https://www.example.com
                    archive_download_url: https://www.example.com
                    expired: true
                    created_at: '2026-01-15T10:30:00Z'
                    expires_at: '2026-01-15T10:30:00Z'
                    updated_at: '2026-01-15T10:30:00Z'
                    workflow_run:
                      id: abc123
                      repository_id: '500123'
                      head_repository_id: '500123'
                      head_branch: example_value
                      head_sha: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteArtifact
      summary: Github Actions Delete an Artifact
      description: Deletes an artifact for a workflow run.
      tags:
      - Artifacts
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/artifactId'
      responses:
        '204':
          description: Successfully deleted artifact
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/artifacts/{artifact_id}/{archive_format}:
    get:
      operationId: downloadArtifact
      summary: Github Actions Download an Artifact
      description: Gets a redirect URL to download an archive for a repository. The archive_format must be zip.
      tags:
      - Artifacts
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/artifactId'
      - name: archive_format
        in: path
        required: true
        schema:
          type: string
          enum: [zip]
        example: zip
      responses:
        '302':
          description: Redirect to artifact download URL
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runs/{run_id}/artifacts:
    get:
      operationId: listWorkflowRunArtifacts
      summary: Github Actions List Workflow Run Artifacts
      description: Lists artifacts for a workflow run.
      tags:
      - Artifacts
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runId'
      - name: name
        in: query
        schema:
          type: string
        example: Example Title
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved artifacts
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  artifacts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Artifact'
              examples:
                Listworkflowrunartifacts200Example:
                  summary: Default listWorkflowRunArtifacts 200 response
                  x-microcks-default: true
                  value:
                    total_count: 10
                    artifacts:
                    - id: abc123
                      node_id: '500123'
                      name: Example Title
                      size_in_bytes: 10
                      url: https://www.example.com
                      archive_download_url: https://www.example.com
                      expired: true
                      created_at: '2026-01-15T10:30:00Z'
                      expires_at: '2026-01-15T10:30:00Z'
                      updated_at: '2026-01-15T10:30:00Z'
                      workflow_run:
                        id: abc123
                        repository_id: '500123'
                        head_repository_id: '500123'
                        head_branch: example_value
                        head_sha: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/caches:
    get:
      operationId: listActionsCaches
      summary: List Github Actions Caches for a Repository
      description: Lists the GitHub Actions caches for a repository.
      tags:
      - Cache
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - name: ref
        in: query
        schema:
          type: string
        example: example_value
      - name: key
        in: query
        schema:
          type: string
        example: example_value
      - name: sort
        in: query
        schema:
          type: string
          enum: [created_at, last_accessed_at, size_in_bytes]
          default: last_accessed_at
        example: created_at
      - name: direction
        in: query
        schema:
          type: string
          enum: [asc, desc]
          default: desc
        example: asc
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved caches
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  actions_caches:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActionsCacheEntry'
              examples:
                Listactionscaches200Example:
                  summary: Default listActionsCaches 200 response
                  x-microcks-default: true
                  value:
                    total_count: 10
                    actions_caches:
                    - id: abc123
                      ref: example_value
                      key: example_value
                      version: example_value
                      last_accessed_at: '2026-01-15T10:30:00Z'
                      created_at: '2026-01-15T10:30:00Z'
                      size_in_bytes: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteActionsCacheByKey
      summary: Delete Github Actions Caches for a Repository (by Key)
      description: Deletes one or more GitHub Actions caches for a repository, using a complete cache key.
      tags:
      - Cache
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - name: key
        in: query
        required: true
        schema:
          type: string
        example: example_value
      - name: ref
        in: query
        schema:
          type: string
        example: example_value
      responses:
        '200':
          description: Successfully deleted caches
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/caches/{cache_id}:
    delete:
      operationId: deleteActionsCacheById
      summary: Delete a Github Actions Cache for a Repository (by Id)
      description: Deletes a GitHub Actions cache for a repository, using a cache ID.
      tags:
      - Cache
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - name: cache_id
        in: path
        required: true
        schema:
          type: integer
        example: '500123'
      responses:
        '204':
          description: Successfully deleted cache
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/cache/usage:
    get:
      operationId: getActionsCacheUsage
      summary: Get Github Actions Cache Usage for a Repository
      description: Gets GitHub Actions cache usage for a repository.
      tags:
      - Cache
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      responses:
        '200':
          description: Successfully retrieved cache usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionsCacheUsage'
              examples:
                Getactionscacheusage200Example:
                  summary: Default getActionsCacheUsage 200 response
                  x-microcks-default: true
                  value:
                    full_name: example_value
                    active_caches_size_in_bytes: 10
                    active_caches_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/secrets:
    get:
      operationId: listRepoSecrets
      summary: Github Actions List Repository Secrets
      description: Lists all secrets available in a repository without revealing their encrypted values.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved secrets
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  secrets:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActionsSecret'
              examples:
                Listreposecrets200Example:
                  summary: Default listRepoSecrets 200 response
                  x-microcks-default: true
                  value:
                    total_count: 10
                    secrets:
                    - name: Example Title
                      created_at: '2026-01-15T10:30:00Z'
                      updated_at: '2026-01-15T10:30:00Z'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/secrets/public-key:
    get:
      operationId: getRepoPublicKey
      summary: Github Actions Get a Repository Public Key
      description: Gets your public key, which you need to encrypt secrets.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      responses:
        '200':
          description: Successfully retrieved public key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionsPublicKey'
              examples:
                Getrepopublickey200Example:
                  summary: Default getRepoPublicKey 200 response
                  x-microcks-default: true
                  value:
                    key_id: '500123'
                    key: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/secrets/{secret_name}:
    get:
      operationId: getRepoSecret
      summary: Github Actions Get a Repository Secret
      description: Gets a single repository secret without revealing its encrypted value.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/secretName'
      responses:
        '200':
          description: Successfully retrieved secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionsSecret'
              examples:
                Getreposecret200Example:
                  summary: Default getRepoSecret 200 response
                  x-microcks-default: true
                  value:
                    name: Example Title
                    created_at: '2026-01-15T10:30:00Z'
                    updated_at: '2026-01-15T10:30:00Z'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: createOrUpdateRepoSecret
      summary: Github Actions Create or Update a Repository Secret
      description: Creates or updates a repository secret with an encrypted value.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/secretName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                encrypted_value:
                  type: string
                  description: Value for your secret, encrypted with LibSodium using the public key.
                key_id:
                  type: string
                  description: ID of the key you used to encrypt the secret.
            examples:
              CreateorupdatereposecretRequestExample:
                summary: Default createOrUpdateRepoSecret request
                x-microcks-default: true
                value:
                  encrypted_value: example_value
                  key_id: '500123'
      responses:
        '201':
          description: Secret created
        '204':
          description: Secret updated
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteRepoSecret
      summary: Github Actions Delete a Repository Secret
      description: Deletes a secret in a repository using the secret name.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/secretName'
      responses:
        '204':
          description: Successfully deleted secret
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/organization-secrets:
    get:
      operationId: listRepoOrgSecrets
      summary: Github Actions List Repository Organization Secrets
      description: Lists all organization secrets shared with a repository without revealing their encrypted values.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved organization secrets
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  secrets:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActionsSecret'
              examples:
                Listrepoorgsecrets200Example:
                  summary: Default listRepoOrgSecrets 200 response
                  x-microcks-default: true
                  value:
                    total_count: 10
                    secrets:
                    - name: Example Title
                      created_at: '2026-01-15T10:30:00Z'
                      updated_at: '2026-01-15T10:30:00Z'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /orgs/{org}/actions/secrets:
    get:
      operationId: listOrgSecrets
      summary: Github Actions List Organization Secrets
      description: Lists all secrets available in an organization without revealing their encrypted values.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/org'
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved organization secrets
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  secrets:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrgActionsSecret'
              examples:
                Listorgsecrets200Example:
                  summary: Default listOrgSecrets 200 response
                  x-microcks-default: true
                  value:
                    total_count: 10
                    secrets:
                    - name: Example Title
                      created_at: '2026-01-15T10:30:00Z'
                      updated_at: '2026-01-15T10:30:00Z'
                      visibility: all
                      selected_repositories_url: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /orgs/{org}/actions/secrets/public-key:
    get:
      operationId: getOrgPublicKey
      summary: Github Actions Get an Organization Public Key
      description: Gets your public key, which you need to encrypt secrets.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/org'
      responses:
        '200':
          description: Successfully retrieved public key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionsPublicKey'
              examples:
                Getorgpublickey200Example:
                  summary: Default getOrgPublicKey 200 response
                  x-microcks-default: true
                  value:
                    key_id: '500123'
                    key: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /orgs/{org}/actions/secrets/{secret_name}:
    get:
      operationId: getOrgSecret
      summary: Github Actions Get an Organization Secret
      description: Gets a single organization secret without revealing its encrypted value.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/org'
      - $ref: '#/components/parameters/secretName'
      responses:
        '200':
          description: Successfully retrieved secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgActionsSecret'
              examples:
                Getorgsecret200Example:
                  summary: Default getOrgSecret 200 response
                  x-microcks-default: true
                  value:
                    name: Example Title
                    created_at: '2026-01-15T10:30:00Z'
                    updated_at: '2026-01-15T10:30:00Z'
                    visibility: all
                    selected_repositories_url: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: createOrUpdateOrgSecret
      summary: Github Actions Create or Update an Organization Secret
      description: Creates or updates an organization secret with an encrypted value.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/org'
      - $ref: '#/components/parameters/secretName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                encrypted_value:
                  type: string
                key_id:
                  type: string
                visibility:
                  type: string
                  enum: [all, private, selected]
                selected_repository_ids:
                  type: array
                  items:
                    type: integer
            examples:
              CreateorupdateorgsecretRequestExample:
                summary: Default createOrUpdateOrgSecret request
                x-microcks-default: true
                value:
                  encrypted_value: example_value
                  key_id: '500123'
                  visibility: all
                  selected_repository_ids:
                  - 10
      responses:
        '201':
          description: Secret created
        '204':
          description: Secret updated
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteOrgSecret
      summary: Github Actions Delete an Organization Secret
      description: Deletes a secret in an organization using the secret name.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/org'
      - $ref: '#/components/parameters/secretName'
      responses:
        '204':
          description: Successfully deleted secret
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /orgs/{org}/actions/secrets/{secret_name}/repositories:
    get:
      operationId: listSelectedReposForOrgSecret
      summary: Github Actions List Selected Repositories for an Organization Secret
      description: Lists all repositories that have been selected when the visibility for repository access to a secret is set to selected.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/org'
      - $ref: '#/components/parameters/secretName'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: Successfully retrieved repositories
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  repositories:
                    type: array
                    items:
                      $ref: '#/components/schemas/MinimalRepository'
              examples:
                Listselectedreposfororgsecret200Example:
                  summary: Default listSelectedReposForOrgSecret 200 response
                  x-microcks-default: true
                  value:
                    total_count: 10
                    repositories:
                    - id: abc123
                      node_id: '500123'
                      name: Example Title
                      full_name: example_value
                      private: true
                      html_url: https://www.example.com
                      url: https://www.example.com
                      description: A sample description.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: setSelectedReposForOrgSecret
      summary: Github Actions Set Selected Repositories for an Organization Secret
      description: Replaces all repositories for an organization secret when the visibility for repository access is set to selected.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/org'
      - $ref: '#/components/parameters/secretName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - selected_repository_ids
              properties:
                selected_repository_ids:
                  type: array
                  items:
                    type: integer
            examples:
              SetselectedreposfororgsecretRequestExample:
                summary: Default setSelectedReposForOrgSecret request
                x-microcks-default: true
                value:
                  selected_repository_ids:
                  - 10
      responses:
        '204':
          description: Successfully set repositories
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/variables:
    get:
      operationId: listRepoVariables
      summary: Github Actions List Repository Variables
      description: Lists all repository variables.
      tags:
      - Variables
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved variables
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  variables:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActionsVariable'
              examples:
                Listrepovariables200Example:
                  summary: Default listRepoVariables 200 response
                  x-microcks-default: true
                  value:
                    total_count: 10
                    variables:
                    - name: Example Title
                      value: example_value
                      created_at: '2026-01-15T10:30:00Z'
                      updated_at: '2026-01-15T10:30:00Z'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createRepoVariable
      summary: Github Actions Create a Repository Variable
      description: Creates a repository variable that you can reference in a GitHub Actions workflow.
      tags:
      - Variables
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - value
              properties:
                name:
                  type: string
                value:
                  type: string
            examples:
              CreaterepovariableRequestExample:
                summary: Default createRepoVariable request
                x-microcks-default: true
                value:
                  name: Example Title
                  value: example_value
      responses:
        '201':
          description: Successfully created variable
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/variables/{name}:
    get:
      operationId: getRepoVariable
      summary: Github Actions Get a Repository Variable
      description: Gets a specific variable in a repository.
      tags:
      - Variables
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/variableName'
      responses:
        '200':
          description: Successfully retrieved variable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionsVariable'
              examples:
                Getrepovariable200Example:
                  summary: Default getRepoVariable 200 response
                  x-microcks-default: true
                  value:
                    name: Example Title
                    value: example_value
                    created_at: '2026-01-15T10:30:00Z'
                    updated_at: '2026-01-15T10:30:00Z'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateRepoVariable
      summary: Github Actions Update a Repository Variable
      description: Updates a repository variable that you can reference in a GitHub Actions workflow.
      tags:
      - Variables
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/variableName'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                value:
                  type: string
            examples:
              UpdaterepovariableRequestExample:
                summary: Default updateRepoVariable request
                x-microcks-default: true
                value:
                  name: Example Title
                  value: example_value
      responses:
        '204':
          description: Successfully updated variable
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteRepoVariable
      summary: Github Actions Delete a Repository Variable
      description: Deletes a repository variable using the variable name.
      tags:
      - Variables
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/variableName'
      responses:
        '204':
          description: Successfully deleted variable
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runners:
    get:
      operationId: listSelfHostedRunnersForRepo
      summary: Github Actions List Self-hosted Runners for a Repository
      description: Lists all self-hosted runners configured in a repository.
      tags:
      - Self-Hosted Runners
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - name: name
        in: query
        schema:
          type: string
        example: Example Title
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved runners
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  runners:
                    type: array
                    items:
                      $ref: '#/components/schemas/SelfHostedRunner'
              examples:
                Listselfhostedrunnersforrepo200Example:
                  summary: Default listSelfHostedRunnersForRepo 200 response
                  x-microcks-default: true
                  value:
                    total_count: 10
                    runners:
                    - id: abc123
                      name: Example Title
                      os: example_value
                      status: example_value
                      busy: true
                      labels:
                      - {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runners/{runner_id}:
    get:
      operationId: getSelfHostedRunnerForRepo
      summary: Github Actions Get a Self-hosted Runner for a Repository
      description: Gets a specific self-hosted runner configured in a repository.
      tags:
      - Self-Hosted Runners
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runnerId'
      responses:
        '200':
          description: Successfully retrieved runner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SelfHostedRunner'
              examples:
                Getselfhostedrunnerforrepo200Example:
                  summary: Default getSelfHostedRunnerForRepo 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    os: example_value
                    status: example_value
                    busy: true
                    labels:
                    - id: abc123
                      name: Example Title
                      type: read-only
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteSelfHostedRunnerFromRepo
      summary: Github Actions Delete a Self-hosted Runner From a Repository
      description: Forces the removal of a self-hosted runner from a repository.
      tags:
      - Self-Hosted Runners
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runnerId'
      responses:
        '204':
          description: Successfully deleted runner
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runners/downloads:
    get:
      operationId: listRunnerApplicationsForRepo
      summary: Github Actions List Runner Applications for a Repository
      description: Lists binaries for the runner application that you can download.
      tags:
      - Self-Hosted Runners
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      responses:
        '200':
          description: Successfully retrieved runner applications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RunnerApplication'
              examples:
                Listrunnerapplicationsforrepo200Example:
                  summary: Default listRunnerApplicationsForRepo 200 response
                  x-microcks-default: true
                  value:
                  - os: example_value
                    architecture: example_value
                    download_url: https://www.example.com
                    filename: example_value
                    temp_download_token: example_value
                    sha256_checksum: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runners/registration-token:
    post:
      operationId: createRegistrationTokenForRepo
      summary: Github Actions Create a Registration Token for a Repository
      description: Returns a token that you can pass to the config script for a self-hosted runner.
      tags:
      - Self-Hosted Runners
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      responses:
        '201':
          description: Successfully created registration token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationToken'
              examples:
                Createregistrationtokenforrepo201Example:
                  summary: Default createRegistrationTokenForRepo 201 response
                  x-microcks-default: true
                  value:
                    token: example_value
                    expires_at: '2026-01-15T10:30:00Z'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runners/remove-token:
    post:
      operationId: createRemoveTokenForRepo
      summary: Github Actions Create a Remove Token for a Repository
      description: Returns a token that you can pass to remove a self-hosted runner from a repository.
      tags:
      - Self-Hosted Runners
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      responses:
        '201':
          description: Successfully created remove token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationToken'
              examples:
                Createremovetokenforrepo201Example:
                  summary: Default createRemoveTokenForRepo 201 response
                  x-microcks-default: true
                  value:
                    token: example_value
                    expires_at: '2026-01-15T10:30:00Z'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runners/{runner_id}/labels:
    get:
      operationId: listLabelsForSelfHostedRunnerForRepo
      summary: Github Actions List Labels for a Self-hosted Runner for a Repository
      description: Lists all labels for a self-hosted runner configured in a repository.
      tags:
      - Self-Hosted Runners
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runnerId'
      responses:
        '200':
          description: Successfully retrieved labels
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  labels:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunnerLabel'
              examples:
                Listlabelsforselfhostedrunnerforrepo200Example:
                  summary: Default listLabelsForSelfHostedRunnerForRepo 200 response
                  x-microcks-default: true
                  value:
                    total_count: 10
                    labels:
                    - id: abc123
                      name: Example Title
                      type: read-only
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: addCustomLabelsToSelfHostedRunnerForRepo
      summary: Github Actions Add Custom Labels to a Self-hosted Runner for a Repository
      description: Adds custom labels to a self-hosted runner configured in a repository.
      tags:
      - Self-Hosted Runners
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runnerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - labels
              properties:
                labels:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  maxItems: 100
            examples:
              AddcustomlabelstoselfhostedrunnerforrepoRequestExample:
                summary: Default addCustomLabelsToSelfHostedRunnerForRepo request
                x-microcks-default: true
                value:
                  labels:
                  - example_value
      responses:
        '200':
          description: Successfully added labels
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  labels:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunnerLabel'
              examples:
                Addcustomlabelstoselfhostedrunnerforrepo200Example:
                  summary: Default addCustomLabelsToSelfHostedRunnerForRepo 200 response
                  x-microcks-default: true
                  value:
                    total_count: 10
                    labels:
                    - id: abc123
                      name: Example Title
                      type: read-only
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: setCustomLabelsForSelfHostedRunnerForRepo
      summary: Github Actions Set Custom Labels for a Self-hosted Runner for a Repository
      description: Remove all previous custom labels and set the new custom labels for a specific self-hosted runner.
      tags:
      - Self-Hosted Runners
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runnerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - labels
              properties:
                labels:
                  type: array
                  items:
                    type: string
                  maxItems: 100
            examples:
              SetcustomlabelsforselfhostedrunnerforrepoRequestExample:
                summary: Default setCustomLabelsForSelfHostedRunnerForRepo request
                x-microcks-default: true
                value:
                  labels:
                  - example_value
      responses:
        '200':
          description: Successfully set labels
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  labels:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunnerLabel'
              examples:
                Setcustomlabelsforselfhostedrunnerforrepo200Example:
                  summary: Default setCustomLabelsForSelfHostedRunnerForRepo 200 response
                  x-microcks-default: true
                  value:
                    total_count: 10
                    labels:
                    - id: abc123
                      name: Example Title
                      type: read-only
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: removeAllCustomLabelsFromSelfHostedRunnerForRepo
      summary: Github Actions Remove All Custom Labels From a Self-hosted Runner for a Repository
      description: Remove all custom labels from a self-hosted runner configured in a repository.
      tags:
      - Self-Hosted Runners
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runnerId'
      responses:
        '200':
          description: Successfully removed all custom labels
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  labels:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunnerLabel'
              examples:
                Removeallcustomlabelsfromselfhostedrunnerforrepo200Example:
                  summary: Default removeAllCustomLabelsFromSelfHostedRunnerForRepo 200 response
                  x-microcks-default: true
                  value:
                    total_count: 10
                    labels:
                    - id: abc123
                      name: Example Title
                      type: read-only
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/runners/{runner_id}/labels/{name}:
    delete:
      operationId: removeCustomLabelFromSelfHostedRunnerForRepo
      summary: Github Actions Remove a Custom Label From a Self-hosted Runner for a Repository
      description: Remove a custom label from a self-hosted runner configured in a repository.
      tags:
      - Self-Hosted Runners
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/runnerId'
      - name: name
        in: path
        required: true
        schema:
          type: string
        example: Example Title
      responses:
        '200':
          description: Successfully removed label
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  labels:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunnerLabel'
              examples:
                Removecustomlabelfromselfhostedrunnerforrepo200Example:
                  summary: Default removeCustomLabelFromSelfHostedRunnerForRepo 200 response
                  x-microcks-default: true
                  value:
                    total_count: 10
                    labels:
                    - id: abc123
                      name: Example Title
                      type: read-only
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/permissions:
    get:
      operationId: getGithubActionsPermissionsRepo
      summary: Get Github Actions Permissions for a Repository
      description: Gets the GitHub Actions permissions policy for a repository.
      tags:
      - Permissions
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      responses:
        '200':
          description: Successfully retrieved permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionsRepositoryPermissions'
              examples:
                Getgithubactionspermissionsrepo200Example:
                  summary: Default getGithubActionsPermissionsRepo 200 response
                  x-microcks-default: true
                  value:
                    enabled: true
                    allowed_actions: all
                    selected_actions_url: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: setGithubActionsPermissionsRepo
      summary: Set Github Actions Permissions for a Repository
      description: Sets the GitHub Actions permissions policy for enabling GitHub Actions and allowed actions and reusable workflows in the repository.
      tags:
      - Permissions
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionsRepositoryPermissions'
            examples:
              SetgithubactionspermissionsrepoRequestExample:
                summary: Default setGithubActionsPermissionsRepo request
                x-microcks-default: true
                value:
                  enabled: true
                  allowed_actions: all
                  selected_actions_url: https://www.example.com
      responses:
        '204':
          description: Successfully set permissions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/permissions/workflow:
    get:
      operationId: getGithubActionsDefaultWorkflowPermissionsRepo
      summary: Github Actions Get Default Workflow Permissions for a Repository
      description: Gets the default workflow permissions granted to the GITHUB_TOKEN when running workflows in a repository.
      tags:
      - Permissions
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      responses:
        '200':
          description: Successfully retrieved default workflow permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionsDefaultWorkflowPermissions'
              examples:
                Getgithubactionsdefaultworkflowpermissionsrepo200Example:
                  summary: Default getGithubActionsDefaultWorkflowPermissionsRepo 200 response
                  x-microcks-default: true
                  value:
                    default_workflow_permissions: read
                    can_approve_pull_request_reviews: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: setGithubActionsDefaultWorkflowPermissionsRepo
      summary: Github Actions Set Default Workflow Permissions for a Repository
      description: Sets the default workflow permissions granted to the GITHUB_TOKEN when running workflows in a repository.
      tags:
      - Permissions
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionsDefaultWorkflowPermissions'
            examples:
              SetgithubactionsdefaultworkflowpermissionsrepoRequestExample:
                summary: Default setGithubActionsDefaultWorkflowPermissionsRepo request
                x-microcks-default: true
                value:
                  default_workflow_permissions: read
                  can_approve_pull_request_reviews: true
      responses:
        '204':
          description: Successfully set default workflow permissions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /repos/{owner}/{repo}/actions/oidc/customization/sub:
    get:
      operationId: getCustomOidcSubClaimForRepo
      summary: Github Actions Get the Customization Template for an Oidc Subject Claim for a Repository
      description: Gets the customization template for an OpenID Connect (OIDC) subject claim.
      tags:
      - OIDC
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      responses:
        '200':
          description: Successfully retrieved OIDC customization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OidcCustomSub'
              examples:
                Getcustomoidcsubclaimforrepo200Example:
                  summary: Default getCustomOidcSubClaimForRepo 200 response
                  x-microcks-default: true
                  value:
                    use_default: true
                    include_claim_keys:
                    - example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: setCustomOidcSubClaimForRepo
      summary: Github Actions Set the Customization Template for an Oidc Subject Claim for a Repository
      description: Sets the customization template for an OpenID Connect (OIDC) subject claim.
      tags:
      - OIDC
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OidcCustomSub'
            examples:
[...]
