openapi: 3.1.0
info:
  title: GitHub Actions API
  description: REST API for managing GitHub Actions workflows, runs, artifacts, secrets, runners, caches, variables, permissions, and OIDC.
  version: 1.0.0
  contact:
    name: GitHub Support
    url: https://support.github.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.github.com
    description: GitHub REST API
security:
  - bearerAuth: []
  - personalAccessToken: []
tags:
  - name: Workflows
    description: Manage workflow files and workflow runs
  - name: Workflow Runs
    description: Manage and monitor workflow run executions
  - name: Jobs
    description: Access information about workflow jobs
  - name: Artifacts
    description: Download and manage workflow run artifacts
  - name: Secrets
    description: Manage encrypted secrets for Actions
  - name: Variables
    description: Create and manage workflow variables
  - name: Self-hosted Runners
    description: Manage self-hosted runners for workflows
  - name: Self-hosted Runner Groups
    description: Manage runner groups for organizations
  - name: GitHub-hosted Runners
    description: Provision and manage GitHub-hosted runners
  - name: Cache
    description: Manage workflow dependency caches
  - name: Permissions
    description: Control Actions enablement and permissions
  - name: OIDC
    description: Manage OIDC subject claim customization
paths:
  /repos/{owner}/{repo}/actions/workflows:
    get:
      operationId: listRepoWorkflows
      summary: List repository workflows
      description: Lists the workflows in a repository. Anyone with read access to the repository can use this endpoint.
      tags:
        - Workflows
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved workflows
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  workflows:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workflow'
  /repos/{owner}/{repo}/actions/workflows/{workflow_id}:
    get:
      operationId: getWorkflow
      summary: Get a workflow
      description: Gets a specific workflow. You can replace workflow_id with the workflow file name.
      tags:
        - Workflows
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/workflowId'
      responses:
        '200':
          description: Successfully retrieved workflow
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
  /repos/{owner}/{repo}/actions/workflows/{workflow_id}/disable:
    put:
      operationId: disableWorkflow
      summary: Disable a workflow
      description: Disables a workflow and sets the state of the workflow to disabled_manually.
      tags:
        - Workflows
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/workflowId'
      responses:
        '204':
          description: Successfully disabled workflow
  /repos/{owner}/{repo}/actions/workflows/{workflow_id}/enable:
    put:
      operationId: enableWorkflow
      summary: Enable a workflow
      description: Enables a workflow and sets the state of the workflow to active.
      tags:
        - Workflows
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/workflowId'
      responses:
        '204':
          description: Successfully enabled workflow
  /repos/{owner}/{repo}/actions/workflows/{workflow_id}/dispatches:
    post:
      operationId: createWorkflowDispatch
      summary: Create a workflow dispatch event
      description: Manually triggers a GitHub Actions workflow run. The workflow must be configured to support the workflow_dispatch event.
      tags:
        - Workflows
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/workflowId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ref
              properties:
                ref:
                  type: string
                  description: The git reference for the workflow. The reference can be a branch or tag name.
                inputs:
                  type: object
                  description: Input keys and values configured in the workflow file. The maximum number of properties is 10.
                  additionalProperties:
                    type: string
      responses:
        '204':
          description: Successfully dispatched workflow
  /repos/{owner}/{repo}/actions/workflows/{workflow_id}/runs:
    get:
      operationId: listWorkflowRuns
      summary: List workflow runs for a workflow
      description: List all workflow runs for a workflow. You can replace workflow_id with the workflow file name.
      tags:
        - Workflows
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/workflowId'
        - name: actor
          in: query
          schema:
            type: string
        - name: branch
          in: query
          schema:
            type: string
        - name: event
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [completed, action_required, cancelled, failure, neutral, skipped, stale, success, timed_out, in_progress, queued, requested, waiting, pending]
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved workflow runs
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  workflow_runs:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkflowRun'
  /repos/{owner}/{repo}/actions/workflows/{workflow_id}/timing:
    get:
      operationId: getWorkflowUsage
      summary: Get workflow usage
      description: Gets the number of billable minutes used by a specific workflow during the current billing cycle.
      tags:
        - Workflows
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/workflowId'
      responses:
        '200':
          description: Successfully retrieved workflow usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowUsage'
  /repos/{owner}/{repo}/actions/runs:
    get:
      operationId: listWorkflowRunsForRepo
      summary: List workflow runs for a repository
      description: Lists all workflow runs for a repository. Anyone with read access to the repository can use this endpoint.
      tags:
        - Workflow Runs
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - name: actor
          in: query
          schema:
            type: string
        - name: branch
          in: query
          schema:
            type: string
        - name: event
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [completed, action_required, cancelled, failure, neutral, skipped, stale, success, timed_out, in_progress, queued, requested, waiting, pending]
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved workflow runs
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  workflow_runs:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkflowRun'
  /repos/{owner}/{repo}/actions/runs/{run_id}:
    get:
      operationId: getWorkflowRun
      summary: Get a workflow run
      description: Gets a specific workflow run.
      tags:
        - Workflow Runs
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runId'
      responses:
        '200':
          description: Successfully retrieved workflow run
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
    delete:
      operationId: deleteWorkflowRun
      summary: Delete a workflow run
      description: Deletes a specific workflow run. Anyone with write access to the repository can use this endpoint.
      tags:
        - Workflow Runs
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runId'
      responses:
        '204':
          description: Successfully deleted workflow run
  /repos/{owner}/{repo}/actions/runs/{run_id}/approve:
    post:
      operationId: approveWorkflowRun
      summary: Approve a workflow run for a fork pull request
      description: Approves a workflow run for a pull request from a public fork of a first time contributor.
      tags:
        - Workflow Runs
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runId'
      responses:
        '201':
          description: Successfully approved workflow run
  /repos/{owner}/{repo}/actions/runs/{run_id}/approvals:
    get:
      operationId: getWorkflowRunApprovals
      summary: Get the review history for a workflow run
      description: Anyone with read access to the repository can use this endpoint.
      tags:
        - Workflow Runs
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runId'
      responses:
        '200':
          description: Successfully retrieved approvals
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EnvironmentApproval'
  /repos/{owner}/{repo}/actions/runs/{run_id}/attempts/{attempt_number}:
    get:
      operationId: getWorkflowRunAttempt
      summary: Get a workflow run attempt
      description: Gets a specific workflow run attempt.
      tags:
        - Workflow Runs
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runId'
        - $ref: '#/components/parameters/attemptNumber'
      responses:
        '200':
          description: Successfully retrieved workflow run attempt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
  /repos/{owner}/{repo}/actions/runs/{run_id}/attempts/{attempt_number}/logs:
    get:
      operationId: downloadWorkflowRunAttemptLogs
      summary: Download workflow run attempt logs
      description: Gets a redirect URL to download an archive of log files for a specific workflow run attempt.
      tags:
        - Workflow Runs
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runId'
        - $ref: '#/components/parameters/attemptNumber'
      responses:
        '302':
          description: Redirect to log download URL
  /repos/{owner}/{repo}/actions/runs/{run_id}/cancel:
    post:
      operationId: cancelWorkflowRun
      summary: Cancel a workflow run
      description: Cancels a workflow run using its id.
      tags:
        - Workflow Runs
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runId'
      responses:
        '202':
          description: Successfully requested cancellation
  /repos/{owner}/{repo}/actions/runs/{run_id}/deployment_protection_rule:
    post:
      operationId: reviewCustomGatesForRun
      summary: Review custom deployment protection rules for a workflow run
      description: Approve or reject custom deployment protection rules for a workflow run.
      tags:
        - Workflow Runs
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - environment_name
                - state
              properties:
                environment_name:
                  type: string
                state:
                  type: string
                  enum: [approved, rejected]
                comment:
                  type: string
      responses:
        '204':
          description: Successfully reviewed deployment protection rule
  /repos/{owner}/{repo}/actions/runs/{run_id}/force-cancel:
    post:
      operationId: forceCancelWorkflowRun
      summary: Force cancel a workflow run
      description: Force cancels a workflow run. Use this endpoint to force cancel a workflow run that is not responding to a normal cancel request.
      tags:
        - Workflow Runs
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runId'
      responses:
        '202':
          description: Successfully requested force cancellation
  /repos/{owner}/{repo}/actions/runs/{run_id}/logs:
    get:
      operationId: downloadWorkflowRunLogs
      summary: Download workflow run logs
      description: Gets a redirect URL to download an archive of log files for a workflow run. This link expires after 1 minute.
      tags:
        - Workflow Runs
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runId'
      responses:
        '302':
          description: Redirect to log download URL
    delete:
      operationId: deleteWorkflowRunLogs
      summary: Delete workflow run logs
      description: Deletes all logs for a workflow run.
      tags:
        - Workflow Runs
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runId'
      responses:
        '204':
          description: Successfully deleted workflow run logs
  /repos/{owner}/{repo}/actions/runs/{run_id}/pending_deployments:
    get:
      operationId: getPendingDeployments
      summary: Get pending deployments for a workflow run
      description: Get all deployment environments for a workflow run that are waiting for protection rules to pass.
      tags:
        - Workflow Runs
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runId'
      responses:
        '200':
          description: Successfully retrieved pending deployments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PendingDeployment'
    post:
      operationId: reviewPendingDeployments
      summary: Review pending deployments for a workflow run
      description: Approve or reject pending deployments that are waiting on approval by a required reviewer.
      tags:
        - Workflow Runs
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - environment_ids
                - state
                - comment
              properties:
                environment_ids:
                  type: array
                  items:
                    type: integer
                state:
                  type: string
                  enum: [approved, rejected]
                comment:
                  type: string
      responses:
        '200':
          description: Successfully reviewed pending deployments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Deployment'
  /repos/{owner}/{repo}/actions/runs/{run_id}/rerun:
    post:
      operationId: rerunWorkflowRun
      summary: Re-run a workflow
      description: Re-runs your workflow run using its id.
      tags:
        - Workflow Runs
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enable_debug_logging:
                  type: boolean
                  default: false
      responses:
        '201':
          description: Successfully re-ran workflow
  /repos/{owner}/{repo}/actions/runs/{run_id}/rerun-failed-jobs:
    post:
      operationId: rerunFailedJobs
      summary: Re-run failed jobs from a workflow run
      description: Re-run all of the failed jobs and their dependent jobs in a workflow run using the id of the workflow run.
      tags:
        - Workflow Runs
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enable_debug_logging:
                  type: boolean
                  default: false
      responses:
        '201':
          description: Successfully re-ran failed jobs
  /repos/{owner}/{repo}/actions/runs/{run_id}/timing:
    get:
      operationId: getWorkflowRunUsage
      summary: Get workflow run usage
      description: Gets the number of billable minutes and total run time for a specific workflow run.
      tags:
        - Workflow Runs
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runId'
      responses:
        '200':
          description: Successfully retrieved workflow run usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunUsage'
  /repos/{owner}/{repo}/actions/runs/{run_id}/jobs:
    get:
      operationId: listJobsForWorkflowRun
      summary: List jobs for a workflow run
      description: Lists jobs for a workflow run. Anyone with read access to the repository can use this endpoint.
      tags:
        - Jobs
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runId'
        - name: filter
          in: query
          schema:
            type: string
            enum: [latest, all]
            default: latest
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved jobs
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  jobs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Job'
  /repos/{owner}/{repo}/actions/runs/{run_id}/attempts/{attempt_number}/jobs:
    get:
      operationId: listJobsForWorkflowRunAttempt
      summary: List jobs for a workflow run attempt
      description: Lists jobs for a specific workflow run attempt.
      tags:
        - Jobs
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runId'
        - $ref: '#/components/parameters/attemptNumber'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved jobs
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  jobs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Job'
  /repos/{owner}/{repo}/actions/jobs/{job_id}:
    get:
      operationId: getJobForWorkflowRun
      summary: Get a job for a workflow run
      description: Gets a specific job in a workflow run.
      tags:
        - Jobs
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - name: job_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
  /repos/{owner}/{repo}/actions/jobs/{job_id}/logs:
    get:
      operationId: downloadJobLogsForWorkflowRun
      summary: Download job logs for a workflow run
      description: Gets a redirect URL to download a plain text file of logs for a workflow job. This link expires after 1 minute.
      tags:
        - Jobs
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - name: job_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '302':
          description: Redirect to log download URL
  /repos/{owner}/{repo}/actions/jobs/{job_id}/rerun:
    post:
      operationId: rerunJobForWorkflowRun
      summary: Re-run a job from a workflow run
      description: Re-run a job and its dependent jobs in a workflow run.
      tags:
        - Jobs
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - name: job_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enable_debug_logging:
                  type: boolean
                  default: false
      responses:
        '201':
          description: Successfully re-ran job
  /repos/{owner}/{repo}/actions/artifacts:
    get:
      operationId: listArtifactsForRepo
      summary: List artifacts for a repository
      description: Lists all artifacts for a repository.
      tags:
        - Artifacts
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - name: name
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved artifacts
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  artifacts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Artifact'
  /repos/{owner}/{repo}/actions/artifacts/{artifact_id}:
    get:
      operationId: getArtifact
      summary: Get an artifact
      description: Gets a specific artifact for a workflow run.
      tags:
        - Artifacts
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/artifactId'
      responses:
        '200':
          description: Successfully retrieved artifact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
    delete:
      operationId: deleteArtifact
      summary: Delete an artifact
      description: Deletes an artifact for a workflow run.
      tags:
        - Artifacts
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/artifactId'
      responses:
        '204':
          description: Successfully deleted artifact
  /repos/{owner}/{repo}/actions/artifacts/{artifact_id}/{archive_format}:
    get:
      operationId: downloadArtifact
      summary: Download an artifact
      description: Gets a redirect URL to download an archive for a repository. The archive_format must be zip.
      tags:
        - Artifacts
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/artifactId'
        - name: archive_format
          in: path
          required: true
          schema:
            type: string
            enum: [zip]
      responses:
        '302':
          description: Redirect to artifact download URL
  /repos/{owner}/{repo}/actions/runs/{run_id}/artifacts:
    get:
      operationId: listWorkflowRunArtifacts
      summary: List workflow run artifacts
      description: Lists artifacts for a workflow run.
      tags:
        - Artifacts
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runId'
        - name: name
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved artifacts
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  artifacts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Artifact'
  /repos/{owner}/{repo}/actions/caches:
    get:
      operationId: listActionsCaches
      summary: List GitHub Actions caches for a repository
      description: Lists the GitHub Actions caches for a repository.
      tags:
        - Cache
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - name: ref
          in: query
          schema:
            type: string
        - name: key
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
            enum: [created_at, last_accessed_at, size_in_bytes]
            default: last_accessed_at
        - name: direction
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved caches
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  actions_caches:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActionsCacheEntry'
    delete:
      operationId: deleteActionsCacheByKey
      summary: Delete GitHub Actions caches for a repository (by key)
      description: Deletes one or more GitHub Actions caches for a repository, using a complete cache key.
      tags:
        - Cache
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - name: key
          in: query
          required: true
          schema:
            type: string
        - name: ref
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successfully deleted caches
  /repos/{owner}/{repo}/actions/caches/{cache_id}:
    delete:
      operationId: deleteActionsCacheById
      summary: Delete a GitHub Actions cache for a repository (by id)
      description: Deletes a GitHub Actions cache for a repository, using a cache ID.
      tags:
        - Cache
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - name: cache_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Successfully deleted cache
  /repos/{owner}/{repo}/actions/cache/usage:
    get:
      operationId: getActionsCacheUsage
      summary: Get GitHub Actions cache usage for a repository
      description: Gets GitHub Actions cache usage for a repository.
      tags:
        - Cache
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
      responses:
        '200':
          description: Successfully retrieved cache usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionsCacheUsage'
  /repos/{owner}/{repo}/actions/secrets:
    get:
      operationId: listRepoSecrets
      summary: List repository secrets
      description: Lists all secrets available in a repository without revealing their encrypted values.
      tags:
        - Secrets
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved secrets
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  secrets:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActionsSecret'
  /repos/{owner}/{repo}/actions/secrets/public-key:
    get:
      operationId: getRepoPublicKey
      summary: Get a repository public key
      description: Gets your public key, which you need to encrypt secrets.
      tags:
        - Secrets
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
      responses:
        '200':
          description: Successfully retrieved public key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionsPublicKey'
  /repos/{owner}/{repo}/actions/secrets/{secret_name}:
    get:
      operationId: getRepoSecret
      summary: Get a repository secret
      description: Gets a single repository secret without revealing its encrypted value.
      tags:
        - Secrets
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/secretName'
      responses:
        '200':
          description: Successfully retrieved secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionsSecret'
    put:
      operationId: createOrUpdateRepoSecret
      summary: Create or update a repository secret
      description: Creates or updates a repository secret with an encrypted value.
      tags:
        - Secrets
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/secretName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                encrypted_value:
                  type: string
                  description: Value for your secret, encrypted with LibSodium using the public key.
                key_id:
                  type: string
                  description: ID of the key you used to encrypt the secret.
      responses:
        '201':
          description: Secret created
        '204':
          description: Secret updated
    delete:
      operationId: deleteRepoSecret
      summary: Delete a repository secret
      description: Deletes a secret in a repository using the secret name.
      tags:
        - Secrets
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/secretName'
      responses:
        '204':
          description: Successfully deleted secret
  /repos/{owner}/{repo}/actions/organization-secrets:
    get:
      operationId: listRepoOrgSecrets
      summary: List repository organization secrets
      description: Lists all organization secrets shared with a repository without revealing their encrypted values.
      tags:
        - Secrets
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved organization secrets
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  secrets:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActionsSecret'
  /orgs/{org}/actions/secrets:
    get:
      operationId: listOrgSecrets
      summary: List organization secrets
      description: Lists all secrets available in an organization without revealing their encrypted values.
      tags:
        - Secrets
      parameters:
        - $ref: '#/components/parameters/org'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved organization secrets
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  secrets:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrgActionsSecret'
  /orgs/{org}/actions/secrets/public-key:
    get:
      operationId: getOrgPublicKey
      summary: Get an organization public key
      description: Gets your public key, which you need to encrypt secrets.
      tags:
        - Secrets
      parameters:
        - $ref: '#/components/parameters/org'
      responses:
        '200':
          description: Successfully retrieved public key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionsPublicKey'
  /orgs/{org}/actions/secrets/{secret_name}:
    get:
      operationId: getOrgSecret
      summary: Get an organization secret
      description: Gets a single organization secret without revealing its encrypted value.
      tags:
        - Secrets
      parameters:
        - $ref: '#/components/parameters/org'
        - $ref: '#/components/parameters/secretName'
      responses:
        '200':
          description: Successfully retrieved secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgActionsSecret'
    put:
      operationId: createOrUpdateOrgSecret
      summary: Create or update an organization secret
      description: Creates or updates an organization secret with an encrypted value.
      tags:
        - Secrets
      parameters:
        - $ref: '#/components/parameters/org'
        - $ref: '#/components/parameters/secretName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                encrypted_value:
                  type: string
                key_id:
                  type: string
                visibility:
                  type: string
                  enum: [all, private, selected]
                selected_repository_ids:
                  type: array
                  items:
                    type: integer
      responses:
        '201':
          description: Secret created
        '204':
          description: Secret updated
    delete:
      operationId: deleteOrgSecret
      summary: Delete an organization secret
      description: Deletes a secret in an organization using the secret name.
      tags:
        - Secrets
      parameters:
        - $ref: '#/components/parameters/org'
        - $ref: '#/components/parameters/secretName'
      responses:
        '204':
          description: Successfully deleted secret
  /orgs/{org}/actions/secrets/{secret_name}/repositories:
    get:
      operationId: listSelectedReposForOrgSecret
      summary: List selected repositories for an organization secret
      description: Lists all repositories that have been selected when the visibility for repository access to a secret is set to selected.
      tags:
        - Secrets
      parameters:
        - $ref: '#/components/parameters/org'
        - $ref: '#/components/parameters/secretName'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: Successfully retrieved repositories
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  repositories:
                    type: array
                    items:
                      $ref: '#/components/schemas/MinimalRepository'
    put:
      operationId: setSelectedReposForOrgSecret
      summary: Set selected repositories for an organization secret
      description: Replaces all repositories for an organization secret when the visibility for repository access is set to selected.
      tags:
        - Secrets
      parameters:
        - $ref: '#/components/parameters/org'
        - $ref: '#/components/parameters/secretName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - selected_repository_ids
              properties:
                selected_repository_ids:
                  type: array
                  items:
                    type: integer
      responses:
        '204':
          description: Successfully set repositories
  /repos/{owner}/{repo}/actions/variables:
    get:
      operationId: listRepoVariables
      summary: List repository variables
      description: Lists all repository variables.
      tags:
        - Variables
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved variables
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  variables:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActionsVariable'
    post:
      operationId: createRepoVariable
      summary: Create a repository variable
      description: Creates a repository variable that you can reference in a GitHub Actions workflow.
      tags:
        - Variables
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - value
              properties:
                name:
                  type: string
                value:
                  type: string
      responses:
        '201':
          description: Successfully created variable
  /repos/{owner}/{repo}/actions/variables/{name}:
    get:
      operationId: getRepoVariable
      summary: Get a repository variable
      description: Gets a specific variable in a repository.
      tags:
        - Variables
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/variableName'
      responses:
        '200':
          description: Successfully retrieved variable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionsVariable'
    patch:
      operationId: updateRepoVariable
      summary: Update a repository variable
      description: Updates a repository variable that you can reference in a GitHub Actions workflow.
      tags:
        - Variables
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/variableName'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                value:
                  type: string
      responses:
        '204':
          description: Successfully updated variable
    delete:
      operationId: deleteRepoVariable
      summary: Delete a repository variable
      description: Deletes a repository variable using the variable name.
      tags:
        - Variables
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/variableName'
      responses:
        '204':
          description: Successfully deleted variable
  /repos/{owner}/{repo}/actions/runners:
    get:
      operationId: listSelfHostedRunnersForRepo
      summary: List self-hosted runners for a repository
      description: Lists all self-hosted runners configured in a repository.
      tags:
        - Self-hosted Runners
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - name: name
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved runners
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  runners:
                    type: array
                    items:
                      $ref: '#/components/schemas/SelfHostedRunner'
  /repos/{owner}/{repo}/actions/runners/{runner_id}:
    get:
      operationId: getSelfHostedRunnerForRepo
      summary: Get a self-hosted runner for a repository
      description: Gets a specific self-hosted runner configured in a repository.
      tags:
        - Self-hosted Runners
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runnerId'
      responses:
        '200':
          description: Successfully retrieved runner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SelfHostedRunner'
    delete:
      operationId: deleteSelfHostedRunnerFromRepo
      summary: Delete a self-hosted runner from a repository
      description: Forces the removal of a self-hosted runner from a repository.
      tags:
        - Self-hosted Runners
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runnerId'
      responses:
        '204':
          description: Successfully deleted runner
  /repos/{owner}/{repo}/actions/runners/downloads:
    get:
      operationId: listRunnerApplicationsForRepo
      summary: List runner applications for a repository
      description: Lists binaries for the runner application that you can download.
      tags:
        - Self-hosted Runners
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
      responses:
        '200':
          description: Successfully retrieved runner applications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RunnerApplication'
  /repos/{owner}/{repo}/actions/runners/registration-token:
    post:
      operationId: createRegistrationTokenForRepo
      summary: Create a registration token for a repository
      description: Returns a token that you can pass to the config script for a self-hosted runner.
      tags:
        - Self-hosted Runners
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
      responses:
        '201':
          description: Successfully created registration token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationToken'
  /repos/{owner}/{repo}/actions/runners/remove-token:
    post:
      operationId: createRemoveTokenForRepo
      summary: Create a remove token for a repository
      description: Returns a token that you can pass to remove a self-hosted runner from a repository.
      tags:
        - Self-hosted Runners
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
      responses:
        '201':
          description: Successfully created remove token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationToken'
  /repos/{owner}/{repo}/actions/runners/{runner_id}/labels:
    get:
      operationId: listLabelsForSelfHostedRunnerForRepo
      summary: List labels for a self-hosted runner for a repository
      description: Lists all labels for a self-hosted runner configured in a repository.
      tags:
        - Self-hosted Runners
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runnerId'
      responses:
        '200':
          description: Successfully retrieved labels
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  labels:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunnerLabel'
    post:
      operationId: addCustomLabelsToSelfHostedRunnerForRepo
      summary: Add custom labels to a self-hosted runner for a repository
      description: Adds custom labels to a self-hosted runner configured in a repository.
      tags:
        - Self-hosted Runners
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runnerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - labels
              properties:
                labels:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  maxItems: 100
      responses:
        '200':
          description: Successfully added labels
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  labels:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunnerLabel'
    put:
      operationId: setCustomLabelsForSelfHostedRunnerForRepo
      summary: Set custom labels for a self-hosted runner for a repository
      description: Remove all previous custom labels and set the new custom labels for a specific self-hosted runner.
      tags:
        - Self-hosted Runners
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runnerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - labels
              properties:
                labels:
                  type: array
                  items:
                    type: string
                  maxItems: 100
      responses:
        '200':
          description: Successfully set labels
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  labels:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunnerLabel'
    delete:
      operationId: removeAllCustomLabelsFromSelfHostedRunnerForRepo
      summary: Remove all custom labels from a self-hosted runner for a repository
      description: Remove all custom labels from a self-hosted runner configured in a repository.
      tags:
        - Self-hosted Runners
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runnerId'
      responses:
        '200':
          description: Successfully removed all custom labels
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  labels:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunnerLabel'
  /repos/{owner}/{repo}/actions/runners/{runner_id}/labels/{name}:
    delete:
      operationId: removeCustomLabelFromSelfHostedRunnerForRepo
      summary: Remove a custom label from a self-hosted runner for a repository
      description: Remove a custom label from a self-hosted runner configured in a repository.
      tags:
        - Self-hosted Runners
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/runnerId'
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully removed label
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  labels:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunnerLabel'
  /repos/{owner}/{repo}/actions/permissions:
    get:
      operationId: getGithubActionsPermissionsRepo
      summary: Get GitHub Actions permissions for a repository
      description: Gets the GitHub Actions permissions policy for a repository.
      tags:
        - Permissions
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
      responses:
        '200':
          description: Successfully retrieved permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionsRepositoryPermissions'
    put:
      operationId: setGithubActionsPermissionsRepo
      summary: Set GitHub Actions permissions for a repository
      description: Sets the GitHub Actions permissions policy for enabling GitHub Actions and allowed actions and reusable workflows in the repository.
      tags:
        - Permissions
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionsRepositoryPermissions'
      responses:
        '204':
          description: Successfully set permissions
  /repos/{owner}/{repo}/actions/permissions/workflow:
    get:
      operationId: getGithubActionsDefaultWorkflowPermissionsRepo
      summary: Get default workflow permissions for a repository
      description: Gets the default workflow permissions granted to the GITHUB_TOKEN when running workflows in a repository.
      tags:
        - Permissions
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
      responses:
        '200':
          description: Successfully retrieved default workflow permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionsDefaultWorkflowPermissions'
    put:
      operationId: setGithubActionsDefaultWorkflowPermissionsRepo
      summary: Set default workflow permissions for a repository
      description: Sets the default workflow permissions granted to the GITHUB_TOKEN when running workflows in a repository.
      tags:
        - Permissions
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionsDefaultWorkflowPermissions'
      responses:
        '204':
          description: Successfully set default workflow permissions
  /repos/{owner}/{repo}/actions/oidc/customization/sub:
    get:
      operationId: getCustomOidcSubClaimForRepo
      summary: Get the customization template for an OIDC subject claim for a repository
      description: Gets the customization template for an OpenID Connect (OIDC) subject claim.
      tags:
        - OIDC
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
      responses:
        '200':
          description: Successfully retrieved OIDC customization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OidcCustomSub'
    put:
      operationId: setCustomOidcSubClaimForRepo
      summary: Set the customization template for an OIDC subject claim for a repository
      description: Sets the customization template for an OpenID Connect (OIDC) subject claim.
      tags:
        - OIDC
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OidcCustomSub'
      responses:
        '201':
          description: Successfully set OIDC customization
  /orgs/{org}/actions/oidc/customization/sub:
    get:
      operationId: getCustomOidcSubClaimForOrg
      summary: Get the customization template for an OIDC subject claim for an organization
      description: Gets the customization template for an OpenID Connect (OIDC) subject claim for an organization.
      tags:
        - OIDC
      parameters:
        - $ref: '#/components/parameters/org'
      responses:
        '200':
          description: Successfully retrieved OIDC customization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OidcCustomSubOrg'
    put:
      operationId: setCustomOidcSubClaimForOrg
      summary: Set the customization template for an OIDC subject claim for an organization
      description: Creates or updates the customization template for an OpenID Connect (OIDC) subject claim for an organization.
      tags:
        - OIDC
      parameters:
        - $ref: '#/components/parameters/org'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OidcCustomSubOrg'
      responses:
        '201':
          description: Successfully set OIDC customization
  /orgs/{org}/actions/permissions:
    get:
      operationId: getGithubActionsPermissionsOrg
      summary: Get GitHub Actions permissions for an organization
      description: Gets the GitHub Actions permissions policy for repositories and allowed actions and reusable workflows in an organization.
      tags:
        - Permissions
      parameters:
        - $ref: '#/components/parameters/org'
      responses:
        '200':
          description: Successfully retrieved permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionsOrganizationPermissions'
    put:
      operationId: setGithubActionsPermissionsOrg
      summary: Set GitHub Actions permissions for an organization
      description: Sets the GitHub Actions permissions policy for repositories and allowed actions and reusable workflows in an organization.
      tags:
        - Permissions
      parameters:
        - $ref: '#/components/parameters/org'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionsOrganizationPermissions'
      responses:
        '204':
          description: Successfully set permissions
  /orgs/{org}/actions/runner-groups:
    get:
      operationId: listSelfHostedRunnerGroupsForOrg
      summary: List self-hosted runner groups for an organization
      description: Lists all self-hosted runner groups configured in an organization.
      tags:
        - Self-hosted Runner Groups
      parameters:
        - $ref: '#/components/parameters/org'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successfully retrieved runner groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  runner_groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunnerGroup'
    post:
      operationId: createSelfHostedRunnerGroupForOrg
      summary: Create a self-hosted runner group for an organization
      description: Creates a new self-hosted runner group for an organization.
      tags:
        - Self-hosted Runner Groups
      parameters:
        - $ref: '#/components/parameters/org'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                visibility:
                  type: string
                  enum: [selected, all, private]
                selected_repository_ids:
                  type: array
                  items:
                    type: integer
                runners:
                  type: array
                  items:
                    type: integer
      responses:
        '201':
          description: Successfully created runner group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunnerGroup'
  /orgs/{org}/actions/runner-groups/{runner_group_id}:
    get:
      operationId: getSelfHostedRunnerGroupForOrg
      summary: Get a self-hosted runner group for an organization
      description: Gets a specific self-hosted runner group for an organization.
      tags:
        - Self-hosted Runner Groups
      parameters:
        - $ref: '#/components/parameters/org'
        - $ref: '#/components/parameters/runnerGroupId'
      responses:
        '200':
          description: Successfully retrieved runner group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunnerGroup'
    patch:
      operationId: updateSelfHostedRunnerGroupForOrg
      summary: Update a self-hosted runner group for an organization
      description: Updates the name and visibility of a self-hosted runner group in an organization.
      tags:
        - Self-hosted Runner Groups
      parameters:
        - $ref: '#/components/parameters/org'
        - $ref: '#/components/parameters/runnerGroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                visibility:
                  type: string
                  enum: [selected, all, private]
      responses:
        '200':
          description: Successfully updated runner group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunnerGroup'
    delete:
      operationId: deleteSelfHostedRunnerGroupFromOrg
      summary: Delete a self-hosted runner group from an organization
      description: Deletes a self-hosted runner group from an organization.
      tags:
        - Self-hosted Runner Groups
      parameters:
        - $ref: '#/components/parameters/org'
        - $ref: '#/components/parameters/runnerGroupId'
      responses:
        '204':
          description: Successfully deleted runner group
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: GitHub personal access token or OAuth token
    personalAccessToken:
      type: http
      scheme: bearer
      description: Fine-grained personal access token with Actions permissions
  parameters:
    owner:
      name: owner
      in: path
      required: true
      schema:
        type: string
      description: The account owner of the repository.
    repo:
      name: repo
      in: path
      required: true
      schema:
        type: string
      description: The name of the repository without the .git extension.
    org:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: The organization name.
    workflowId:
      name: workflow_id
      in: path
      required: true
      schema:
        oneOf:
          - type: integer
          - type: string
      description: The ID of the workflow or the workflow file name.
    runId:
      name: run_id
      in: path
      required: true
      schema:
        type: integer
      description: The unique identifier of the workflow run.
    artifactId:
      name: artifact_id
      in: path
      required: true
      schema:
        type: integer
      description: The unique identifier of the artifact.
    runnerId:
      name: runner_id
      in: path
      required: true
      schema:
        type: integer
      description: Unique identifier of the self-hosted runner.
    runnerGroupId:
      name: runner_group_id
      in: path
      required: true
      schema:
        type: integer
      description: Unique identifier of the self-hosted runner group.
    secretName:
      name: secret_name
      in: path
      required: true
      schema:
        type: string
      description: The name of the secret.
    variableName:
      name: name
      in: path
      required: true
      schema:
        type: string
      description: The name of the variable.
    attemptNumber:
      name: attempt_number
      in: path
      required: true
      schema:
        type: integer
      description: The attempt number of the workflow run.
    perPage:
      name: per_page
      in: query
      schema:
        type: integer
        default: 30
        maximum: 100
      description: The number of results per page (max 100).
    page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
      description: The page number of the results to fetch.
  schemas:
    Workflow:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier of the workflow.
        node_id:
          type: string
        name:
          type: string
          description: The name of the workflow.
        path:
          type: string
          description: The path of the workflow file relative to the root of the repository.
        state:
          type: string
          enum: [active, deleted, disabled_fork, disabled_inactivity, disabled_manually, unknown]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        url:
          type: string
          format: uri
        html_url:
          type: string
          format: uri
        badge_url:
          type: string
          format: uri
    WorkflowRun:
      type: object
      properties:
        id:
          type: integer
          description: The ID of the workflow run.
        name:
          type: string
          description: The name of the workflow run.
        node_id:
          type: string
        head_branch:
          type: string
        head_sha:
          type: string
          description: The SHA of the head commit that points to the version of the workflow being run.
        path:
          type: string
        display_title:
          type: string
          description: The title of the workflow run displayed in the UI.
        run_number:
          type: integer
          description: The auto incrementing run number for the workflow run.
        run_attempt:
          type: integer
          description: Attempt number of the run, 1 for first attempt and higher if the workflow was re-run.
        event:
          type: string
          description: The event that triggered the workflow run.
        status:
          type: string
          enum: [queued, in_progress, completed, waiting, requested, pending]
        conclusion:
          type: string
          nullable: true
          enum: [success, failure, neutral, cancelled, skipped, timed_out, action_required, stale, null]
        workflow_id:
          type: integer
        url:
          type: string
          format: uri
        html_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        run_started_at:
          type: string
          format: date-time
        jobs_url:
          type: string
          format: uri
        logs_url:
          type: string
          format: uri
        artifacts_url:
          type: string
          format: uri
        cancel_url:
          type: string
          format: uri
        rerun_url:
          type: string
          format: uri
        workflow_url:
          type: string
          format: uri
        actor:
          $ref: '#/components/schemas/SimpleUser'
        triggering_actor:
          $ref: '#/components/schemas/SimpleUser'
        repository:
          $ref: '#/components/schemas/MinimalRepository'
        head_repository:
          $ref: '#/components/schemas/MinimalRepository'
        head_commit:
          $ref: '#/components/schemas/SimpleCommit'
    Job:
      type: object
      properties:
        id:
          type: integer
          description: The id of the job.
        run_id:
          type: integer
          description: The id of the associated workflow run.
        run_url:
          type: string
          format: uri
        run_attempt:
          type: integer
        node_id:
          type: string
        head_sha:
          type: string
        url:
          type: string
          format: uri
        html_url:
          type: string
          format: uri
          nullable: true
        status:
          type: string
          enum: [queued, in_progress, completed, waiting, requested, pending]
        conclusion:
          type: string
          nullable: true
          enum: [success, failure, neutral, cancelled, skipped, timed_out, action_required, null]
        created_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true
        name:
          type: string
          description: The name of the job.
        steps:
          type: array
          items:
            $ref: '#/components/schemas/JobStep'
        labels:
          type: array
          items:
            type: string
        runner_id:
          type: integer
          nullable: true
        runner_name:
          type: string
          nullable: true
        runner_group_id:
          type: integer
          nullable: true
        runner_group_name:
          type: string
          nullable: true
        workflow_name:
          type: string
          nullable: true
    JobStep:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
          enum: [queued, in_progress, completed]
        conclusion:
          type: string
          nullable: true
          enum: [failure, skipped, success, cancelled, null]
        number:
          type: integer
        started_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
    Artifact:
      type: object
      properties:
        id:
          type: integer
        node_id:
          type: string
        name:
          type: string
          description: The name of the artifact.
        size_in_bytes:
          type: integer
          description: The size in bytes of the artifact.
        url:
          type: string
          format: uri
        archive_download_url:
          type: string
          format: uri
        expired:
          type: boolean
        created_at:
          type: string
          format: date-time
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true
        workflow_run:
          type: object
          nullable: true
          properties:
            id:
              type: integer
            repository_id:
              type: integer
            head_repository_id:
              type: integer
            head_branch:
              type: string
            head_sha:
              type: string
    ActionsSecret:
      type: object
      properties:
        name:
          type: string
          description: The name of the secret.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    OrgActionsSecret:
      type: object
      properties:
        name:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        visibility:
          type: string
          enum: [all, private, selected]
        selected_repositories_url:
          type: string
          format: uri
    ActionsPublicKey:
      type: object
      properties:
        key_id:
          type: string
          description: The identifier for the key.
        key:
          type: string
          description: The Base64 encoded public key.
    ActionsVariable:
      type: object
      properties:
        name:
          type: string
          description: The name of the variable.
        value:
          type: string
          description: The value of the variable.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ActionsCacheEntry:
      type: object
      properties:
        id:
          type: integer
        ref:
          type: string
        key:
          type: string
        version:
          type: string
        last_accessed_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        size_in_bytes:
          type: integer
    ActionsCacheUsage:
      type: object
      properties:
        full_name:
          type: string
        active_caches_size_in_bytes:
          type: integer
        active_caches_count:
          type: integer
    SelfHostedRunner:
      type: object
      properties:
        id:
          type: integer
          description: The id of the runner.
        name:
          type: string
          description: The name of the runner.
        os:
          type: string
          description: The operating system of the runner.
        status:
          type: string
          description: The status of the runner.
        busy:
          type: boolean
        labels:
          type: array
          items:
            $ref: '#/components/schemas/RunnerLabel'
    RunnerLabel:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        type:
          type: string
          enum: [read-only, custom]
    RunnerApplication:
      type: object
      properties:
        os:
          type: string
        architecture:
          type: string
        download_url:
          type: string
          format: uri
        filename:
          type: string
        temp_download_token:
          type: string
        sha256_checksum:
          type: string
    AuthenticationToken:
      type: object
      properties:
        token:
          type: string
        expires_at:
          type: string
          format: date-time
    RunnerGroup:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        visibility:
          type: string
        default:
          type: boolean
        runners_url:
          type: string
          format: uri
        inherited:
          type: boolean
        allows_public_repositories:
          type: boolean
    WorkflowUsage:
      type: object
      properties:
        billable:
          type: object
          properties:
            UBUNTU:
              type: object
              properties:
                total_ms:
                  type: integer
            MACOS:
              type: object
              properties:
                total_ms:
                  type: integer
            WINDOWS:
              type: object
              properties:
                total_ms:
                  type: integer
    WorkflowRunUsage:
      type: object
      properties:
        billable:
          type: object
          properties:
            UBUNTU:
              type: object
              properties:
                total_ms:
                  type: integer
                jobs:
                  type: integer
            MACOS:
              type: object
              properties:
                total_ms:
                  type: integer
                jobs:
                  type: integer
            WINDOWS:
              type: object
              properties:
                total_ms:
                  type: integer
                jobs:
                  type: integer
        run_duration_ms:
          type: integer
    ActionsRepositoryPermissions:
      type: object
      properties:
        enabled:
          type: boolean
        allowed_actions:
          type: string
          enum: [all, local_only, selected]
        selected_actions_url:
          type: string
          format: uri
    ActionsOrganizationPermissions:
      type: object
      properties:
        enabled_repositories:
          type: string
          enum: [all, none, selected]
        selected_repositories_url:
          type: string
          format: uri
        allowed_actions:
          type: string
          enum: [all, local_only, selected]
        selected_actions_url:
          type: string
          format: uri
    ActionsDefaultWorkflowPermissions:
      type: object
      properties:
        default_workflow_permissions:
          type: string
          enum: [read, write]
        can_approve_pull_request_reviews:
          type: boolean
    OidcCustomSub:
      type: object
      properties:
        use_default:
          type: boolean
        include_claim_keys:
          type: array
          items:
            type: string
    OidcCustomSubOrg:
      type: object
      properties:
        include_claim_keys:
          type: array
          items:
            type: string
    EnvironmentApproval:
      type: object
      properties:
        environments:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              node_id:
                type: string
              name:
                type: string
              url:
                type: string
                format: uri
              html_url:
                type: string
                format: uri
              created_at:
                type: string
                format: date-time
              updated_at:
                type: string
                format: date-time
        state:
          type: string
          enum: [approved, rejected, pending]
        user:
          $ref: '#/components/schemas/SimpleUser'
        comment:
          type: string
    PendingDeployment:
      type: object
      properties:
        environment:
          type: object
          properties:
            id:
              type: integer
            node_id:
              type: string
            name:
              type: string
            url:
              type: string
              format: uri
            html_url:
              type: string
              format: uri
        wait_timer:
          type: integer
        wait_timer_started_at:
          type: string
          format: date-time
          nullable: true
        current_user_can_approve:
          type: boolean
        reviewers:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: [User, Team]
              reviewer:
                $ref: '#/components/schemas/SimpleUser'
    Deployment:
      type: object
      properties:
        url:
          type: string
          format: uri
        id:
          type: integer
        node_id:
          type: string
        task:
          type: string
        environment:
          type: string
        description:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    SimpleUser:
      type: object
      properties:
        login:
          type: string
        id:
          type: integer
        node_id:
          type: string
        avatar_url:
          type: string
          format: uri
        url:
          type: string
          format: uri
        html_url:
          type: string
          format: uri
        type:
          type: string
    MinimalRepository:
      type: object
      properties:
        id:
          type: integer
        node_id:
          type: string
        name:
          type: string
        full_name:
          type: string
        owner:
          $ref: '#/components/schemas/SimpleUser'
        private:
          type: boolean
        html_url:
          type: string
          format: uri
        url:
          type: string
          format: uri
        description:
          type: string
          nullable: true
    SimpleCommit:
      type: object
      properties:
        id:
          type: string
        tree_id:
          type: string
        message:
          type: string
        timestamp:
          type: string
          format: date-time
        author:
          type: object
          properties:
            name:
              type: string
            email:
              type: string
              format: email
        committer:
          type: object
          properties:
            name:
              type: string
            email:
              type: string
              format: email
